@charset "UTF-8";
@import url('https://use.typekit.net/pbo3wok.css');
	 /* CSS Document */



*{
	margin: 0;
	padding: 0;
}

body{
	font-family: "futura-pt", "Helvetica", sans-serif;
	font-weight: 500;
	font-style: normal;
	color: #000;
	background-color: #EEE;
	height: auto;
	width: 100vw;
	z-index: 2;
	cursor: crosshair;
	clear: both;
    overflow-y: scroll;
	overflow-x: hidden;

	transition: .3s linear;
}
main{
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	
	justify-content: center;
	
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	align-items: center;

	flex-direction: column;

	margin-top: 2.5em;
	height: calc(100vh - 2.5em);
	align-self: center;
}

div {
	-moz-flex: 1 0 auto;
	-webkit-flex: 1 0 auto;
	flex: 1 0 auto;
	width: 100%;
    height: inherit;
}
::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

::-moz-selection {
	background-color: #000;
	color: #fff;
}
::selection {
	background-color: #000;
	color: #fff;
}

/* TEXT STYLING */
h1 {
	font-weight: 600;
	font-size: 3.3rem;
}
h2 {
	font-weight: 500;
	font-size: 3rem;
}
h3 {
	font-weight: 500;
	font-size: 2rem;
}
p {
	font-weight: 300;
	font-size: 1.2rem;
}
a{
	color: #000;
	text-decoration: none;
	cursor: cell;
}
label{
	cursor: cell;
}
img{
	max-width: 100%;
	height: auto;
}

/* Header */
header{ 
	display: flex;
	flex-direction: column;

	align-items: flex-end;

	position: fixed;
	top: 0;
	width: 100vw;
	height: 2.75em;

	z-index: 98;
}
.home-button {
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	align-items: center;

	font-size: 2em;

	border-bottom: solid;
	border-bottom-width: .1rem;

	background: #EEE;
}
.home-button a {
	padding-left: .5em;
	font-weight: 400;
}
/* Main Menu */
.main-menu{
	position: fixed;
	top: 2.72em;
	right: 0;
	height: auto;
	width: auto;
	z-index: -1;
}

/* Menus */
/* Menu Open Button */
.cross{
	background-color: #000;
	width: 1.5em;
	height: .1em;
	transform: rotate(90deg);
	position: absolute;

}
.cross::after {
	content: "";
	background-color: #000;
	position: fixed;
	left: 0;
	width: 1.5em;
	height: .1em;
	transform: rotate(90deg);
}
.main-menu label {
	width: 2.5em;
	height: 2.5em;
	cursor: cell;
	display: flex;
	align-items: center;
	justify-content: center;
	align-self: flex-end;
	position: fixed;
	top: 2.72em;
	right: 0;
}
input#menu {
	display: none;
}
input#menu:checked + label {
	transform: rotate(45deg);

	transition: .5s linear;
}
input#menu:not(:checked) + label {
	transition: .5s linear;
	
}
#menu:checked ~ .menu-content {
	pointer-events: all;
	visibility: visible;

	transform: translate3d(0, 0vh, 0);
	transition: .8s ease-out;
}
.menu-content {
	position: fixed;
	top: 5.1em;
	right: 0;
	width: auto;
	pointer-events: none;
	visibility: hidden;

	transform: translate3d(0, -100vh, 0);

	transition:  .8s ease-in;
}
.menu-content p {
	font-weight: 500;
	font-size: 1.5em;
}
.main-menu ul {
	list-style-type: none;
	padding-right: .72em;
}
.main-menu li {
	display: flex;
	align-items: center;
	padding: .2em 1em;
	margin: -.1em;
	white-space: nowrap;
	border: .1em solid;
	background: #EEE;
}

/* Info */
/* Button Div */
.button-box{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;

	width: 75vw;
	max-height: 15vh;
}
.button-box input{
	display: none;
}
/* Buttons */
.button-div {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 10px;
	width: 30%;
	height: 40%;

	border: solid;
	border-width: .1em;
	text-align: center;
}
.button-div label {
	width: inherit;

	transition: .5s ease-in-out;
}
.button-div p {
	white-space: nowrap;
	font-weight: 500;
}

/* Button Toggles */
.button-text {
	position: absolute;
	left: 50%;
	top: 30em;
	transform: translateX(-50%);
	color: #000;
	opacity: 0;
	height: 0;
	width: 80vw;
	text-align: justify;
	pointer-events: none;

	transition: .3s ease-in-out;
}
.button-text p {
	white-space: normal;
	font-weight: 300;
	font-size: 1.2em;
}
input#priv:checked ~ #priv-text {
	opacity: 1;

	transition: .8s ease-in-out;
}
input#acc:checked ~ #acc-text {
	opacity: 1;

	transition: .8s ease-in-out;
}
input#leg:checked ~ #leg-text {
	opacity: 1;

	transition: .8s ease-in-out;
}

/* Genereal */
.content-box {
	display: flex;
	align-items: center;
	justify-content: center;
}

/* Projects/Photos Page */
#proj-list {
	flex-direction: column;
}
#proj-list p {
	margin: .5em 0;
}
p:hover #proj-img {
	display: block;
}
#proj-img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: -1;
	max-height: 70%;
	width: auto;
	display: none;
}

/* Carousels */
.carousel-cell {
	width: 100%; /* full width */
	height: 80vh; /* height of carousel */
	margin-right: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
  }
.carousel-cell img {
	max-height: 95%;
	width: auto;
	border: solid;
	border-width: .1em;
	padding: .5em;
}
.car-cap {
	position: absolute;
	top: 85%;
	text-align: center;
	visibility: hidden;
	color: #FFF;
}
.carousel-cell:hover .car-cap {
	visibility: visible;
}
/* Galleries */
.photo-gallery {
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	width: 100vw;
}
.gal-item {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	flex: 0 0 30%;
	margin: 10px;
	height: auto;
}
.gal-item p {
	margin-left: -.1em;
}
.gal-item img{
	box-shadow: 0 0 0px .1em #000;
	width: 100%;
}
.vintage-nav {
	display: flex;

	align-items: center;
	justify-content: space-evenly;
	flex-direction: row;
	max-width: 10vw;
	height: auto;
	padding-bottom: 2em;
}
.vintage-nav a {
	font-weight: 500;
}

iframe {
	height: 80vh;
	width: 80vw;
	border: solid;
	border-width: .1em;
	padding: .5em;
}

/* 404 Mostly */
.hello{
	display: flex;
	align-items: center;
	justify-content: center;
	max-width: 80vw;
}
.hello p {
	font-size: 36px;
	font-weight: 500;
	align-self: center;
}

/* Media Queries */

/* Mobile */
@media screen and (orientation:portrait)
and (max-device-width: 812px) {
	main{
		height: auto;
	}
	/* General */
	.content-box {
		align-items: flex-start;
		justify-content: flex-start;
	}
	iframe {
		height: 70vh;
		width: 70vw;
		position: absolute;
		top: 55%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	/* Info */
	.button-box {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		max-height: 50vh;
	}
	.button-div {
		height: 15%;
		width: 100%;
		margin: 10px;
	}
	.button-text {
		top: 100%;
	}
	/* Carousels */
	.carousel-cell img {
		height: auto;
		max-height: 100%;
		width: 100vw;
		border: none;
	}
	.car-cap {
		color: #000;
	}
	.flickity-button {
		display: none;
	}
	/* Galleries */
	.gal-item {
		justify-content: flex-start;
		flex: 0 0 40%;
		height: 260px;
	}
	.gal-item p {
		font-size: 1rem;
	}
	.vintage-nav {
		max-width: 50vw;
	}
	/* Projects/Photos Page */
	#proj-list {
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	}
	p:hover #proj-img {
		display: none;
	}
	/* 404 Mostly */
	.hello{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}
@media screen and (orientation:landscape)
    and (max-device-width: 812px) {
		main{
			height: auto;
			margin-top: 0;
		}
		.home-button {
			display: none;
		}
		.main-menu {
			top: 0;
		}
		.main-menu label {
			top: 0;
		}
		.menu-content {
			top: 2.5em;
		}
		/* Carousels */
		.carousel-cell img {
			height: 100vw;
			max-width: 100%;
			border: none;
		}
		.vintage-nav {
			max-width: 50vw;
		}
		/* Projects/Photos Page */
		#proj-list {
			align-items: center;
			justify-content: center;
		}
		p:hover #proj-img {
			display: none;
		}
		/* Info */
		.button-box {
			top: 20%;
			transform: translateY(-20%);
			max-height: 40vh;
		}
		.button-div {
			width: 40%;
		}
		.button-text {
			top: 110%;
		}
}

/* Dark Mode */
@media (prefers-color-scheme: dark) {
	.home-button {
		background: #222222;
	}
	body {
		background-color: #222222;
		color: #F5F5F5;
	}
	a {
		color: #F5F5F5;
	}
	li {
		background-color: #222222 !important;
	}
	.cross {
		background-color: #F5F5F5;
	}
	.cross::after {
		background-color: #F5F5F5;
	}
	img {
		opacity: .75;
	}
	img:hover {
		opacity: 1;

		transition: .3s ease-in;
	}
	iframe {
		opacity: .75;
	}
	iframe:hover {
		opacity: 1;

		transition: .3s ease-in;
	}
	input#acc:checked ~ #acc-text {
		opacity: 1;
		color: #F5F5F5;
	
		transition: .8s ease-in-out;
	}
	input#priv:checked ~ #priv-text {
		opacity: 1;
		color: #F5F5F5;
	
		transition: .8s ease-in-out;
	}
	input#leg:checked ~ #leg-text {
		opacity: 1;
		color: #F5F5F5;
	
		transition: .8s ease-in-out;
	}
	::-moz-selection {
		background-color: #F5F5F5;
		color: #000;
	}
	::selection {
		background-color: #F5F5F5;
		color: #000;
	}
	.gal-item img {
		box-shadow: none;
	}
	.flickity-button:active {
		color: #333333 !important;
	}
	.flickity-button{
		color: #f5f5f5 !important;
	  }
}
@media (prefers-color-scheme: dark)
	and (max-device-width: 812px) {
		img {
			opacity: 1;
		}
	}

/* Flickity CSS */
.flickity-enabled {
	position: relative;
	height: auto;
  }
  
.flickity-enabled:focus { outline: none; }
  
.flickity-viewport {
	overflow: hidden;
	position: relative;
	height: 100%;
  }
  
.flickity-slider {
	position: absolute;
	width: 100%;
	height: 100%;
  }
  
  /* draggable */
.flickity-enabled.is-draggable {
	-webkit-tap-highlight-color: transparent;
	-webkit-user-select: none;
	   -moz-user-select: none;
		-ms-user-select: none;
			user-select: none;
  }
  
.flickity-enabled.is-draggable .flickity-viewport {
	cursor: move;
	cursor: -webkit-grab;
	cursor: grab;
  }
  
.flickity-enabled.is-draggable .flickity-viewport.is-pointer-down {
	cursor: -webkit-grabbing;
	cursor: grabbing;
  }
  
  /* ---- flickity-button ---- */
.flickity-button {
	position: absolute;
	background: transparent;
	border: none;
	color: #000000;
  }
.flickity-button:hover {
	cursor: cell;
  }
  
.flickity-button:focus {
	outline: none;
	box-shadow: 0 0 0 5px #19F;
  }
  
.flickity-button:active {
	color: #f5f5f5;
  }

.flickity-button:disabled {
	opacity: 0.3;
	cursor: auto;
	/* prevent disabled button from capturing pointer up event. #716 */
	pointer-events: none;
  }
  
.flickity-button-icon {
	fill: currentColor;
  }
  
  /* ---- previous/next buttons ---- */
.flickity-prev-next-button {
	top: 50%;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	/* vertically center */
	transform: translateY(-50%);
  }
  
.flickity-prev-next-button.previous { left: 10px; }
.flickity-prev-next-button.next { right: 10px; }
  /* right to left */
.flickity-rtl .flickity-prev-next-button.previous {
	left: auto;
	right: 10px;
  }
.flickity-rtl .flickity-prev-next-button.next {
	right: auto;
	left: 10px;
  }
.flickity-prev-next-button .flickity-button-icon {
	position: absolute;
	left: 20%;
	top: 20%;
	width: 60%;
	height: 60%;
  }
  
/* ---- page dots ---- */
.flickity-page-dots {
	display: none;
	position: absolute;
	width: 100%;
	bottom: -25px;
	padding: 0;
	margin: 0;
	list-style: none;
	text-align: center;
	line-height: 1;
  }
  
.flickity-rtl .flickity-page-dots { direction: rtl; }
  
.flickity-page-dots .dot {
	display: inline-block;
	width: 10px;
	height: 10px;
	margin: 0 8px;
	background: #333;
	border-radius: 50%;
	opacity: 0.25;
	cursor: pointer;
  }
  
.flickity-page-dots .dot.is-selected {
	opacity: 1;
  }