@charset "UTF-8";
/* CSS Document */

*{
	margin: 0;
	padding: 0 0 1.5em 0;
}

body{
	position: absolute;
	left: calc(50% - 768px/2);
	font-family: "Helvetica Neue", "sans-serif";
	background-color: white;
	text-align: left;
	min-height: 100vh;
	width: 768px;
	z-index: 2;
	cursor: crosshair;
	background: #fff;
	clear: both;
    overflow-y: auto;
	overflow-x: hidden;
	word-break: break-all;

	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	
	-webkit-align-items: flex-end;
	-moz-align-items: flex-end;
	-ms-align-items: flex-end;
	align-items: flex-end;
}
main{
	position: absolute;
	top: 10em;
}
div {
	-moz-flex: 1 0 auto;
	-webkit-flex: 1 0 auto;
	flex: 1 0 auto;
	width: 100%;
    height: inherit;
}

html {
	min-height: 100vh;
	margin: 0;
	padding: 0;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

::-moz-selection {
	background-color: #000;
	color: #fff;
}

::selection {
	background-color: #000;
	color: #fff;
}

/* TEXT STYLING */

p{
	font-style: normal;
	font-weight: 700;
	font-size: 48px;
	line-height: 82.6%;
	letter-spacing: -0.09em;
	text-transform: uppercase;
	color: #000000;
}

h1{
	font-style: normal;
	font-weight: 700;
	font-size: 200px;
	padding: 0;
	margin: 0;
	line-height: 82.6%;
	letter-spacing: -0.09em;
	text-transform: uppercase;
	color: hsl(0, 0%, 10%);
	text-rendering: optimizeLegibility;
}
h2{
	font-style: normal;
	font-weight: 700;
	padding: 0;
	margin: 0;
	color: hsl(0, 0%, 10%);
	font-size: 175px;
	line-height: 82.6%;
	letter-spacing: -0.09em;
	text-transform: uppercase;
	text-rendering: optimizeLegibility;
}
small{
	font-style: normal;
	font-weight: 700;
	font-size: 48px;
	line-height: 82.6%;
	letter-spacing: -0.09em;
	text-transform: uppercase;
	color: hsl(0, 0%, 10%);
	text-rendering: optimizeLegibility;
}
a{
	color: black;
	text-decoration: none;
	cursor: cell;
}
img{
	max-width: 100%;
	height: auto;
}

/* GRAPHICS GRID */

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 10px 4px;
}
.column {
  flex: 25%;
  max-width: 370px;
  padding: 0 10px;
}
.column img {
  margin-top: 2px;
  vertical-align: middle;
  width: 100%;
}

/* HOME BUTTON */

.home-link{
	position: fixed;
	top: 3.5em;
	left: calc(50% - 137px/2 + 1px);
}

/* LANDING */

.landing-button{
	position: fixed;
	bottom: 20px;
	width: 786px;
	font-size: 180px;
	word-break: normal;
}

/* 
* SLIDESHOWS
*/

.photo-box{
	display: flex;
	width: 768px;
}

.slideshow{
	display: flex;
	height: 512px;
	width: 768px;
	overflow-x: scroll;
	overflow-y: hidden;
	padding: 1em 0 1em 0;
}

.slideshow img{
	padding: 0 1em 0 0;
	max-height: 512px;
 	height: 100%;
}

/* MEDIA QUERIES */

@media (max-width: 768px){
	main{
		position: absolute;
		top: 2.5em;
		max-width: 99vw;
		background-position: center;
	}
	body{
		position: absolute;
		left: 0;
	}
	h1{
		font-size: 7em;
	}
	h2{
		font-size: 5.5em;
	}
	small{
		font-size: 2em;
	}
	.slideshow{
		display: flex;
		height: 220px;
		width: 100vw;
		overflow-x: scroll;
		overflow-y: hidden;
		padding: 1em 0 1em 0;
}
	.slideshow img{
		padding: 0 1em 0 0;
 		height: 100%;
		width: 100;
}
	.home-link{
		position: fixed;
		top: 1em;
		left: calc(50% - 94px/2 + 1px);
	}
	.landing-button{
		position: fixed;
		bottom: 25px;
		font-size: 24.6vw;
		word-break: normal;
}
}