@charset "UTF-8";
@import url('https://use.typekit.net/pbo3wok.css');
	 /* CSS Document */



*{
	margin: 0;
	padding: 0;
}

body{
	font-family: "futura-pt", "Helvetica", sans-serif;
	font-weight: 500;
	font-style: normal;
	color: #000;
	background-color: #DDD;
	height: auto;
	width: 100vw;
	z-index: 2;
	cursor: crosshair;
	clear: both;
    overflow-y: scroll;
	overflow-x: hidden;

	transition: .3s linear;
}
main{
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	
	justify-content: center;
	
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	align-items: center;

	flex-direction: column;

	height: auto;
}

div {
	-moz-flex: 1 0 auto;
	-webkit-flex: 1 0 auto;
	flex: 1 0 auto;
	width: 100%;
    height: inherit;
}
::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

::-moz-selection {
	background-color: #000;
	color: #fff;
}
::selection {
	background-color: #000;
	color: #fff;
}

/* TEXT STYLING */
h1 {
	font-weight: 600;
	font-size: 3.3rem;
}
h2 {
	font-weight: 500;
	font-size: 3rem;
}
h3 {
	font-weight: 500;
	font-size: 2rem;
}
p {
	font-weight: 300;
	font-size: 1.2rem;
}
a{
	color: #000;
	text-decoration: none;
	cursor: cell;
}
label{
	cursor: cell;
}
img{
	max-width: 100%;
	height: auto;
}

/* Header */
header{ 
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;

	align-items: flex-end;

	position: fixed;
	width: 100vw;

	z-index: 98;
}
.home-button {
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	align-items: center;

	padding-left: .5em;
	font-size: 2em;

	border-bottom: solid;
	border-bottom-width: .22rem;

	background: #DDD;
}

/* Menus */
/* Main Menu */
.main-menu{
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-direction: column;

	position: relative;
	top: 0;
	right: 1em;
	max-height: auto;
	width: auto;
}
/* Menu Open Button */
.cross{
	background-color: #000;
	width: 1.5em;
	height: .22em;
	transform: rotate(90deg);
	position: absolute;

}
.cross::after {
	content: "";
	background-color: #000;
	position: fixed;
	left: 0;
	width: 1.5em;
	height: .22em;
	transform: rotate(90deg);
}
.main-menu label {
	width: 2.5em;
	height: 2.5em;
	cursor: cell;
	display: flex;
	align-items: center;
	justify-content: center;
	align-self: flex-end;
}
input#menu {
	display: none;
}
input#menu:checked + label {
	transform: rotate(45deg);

	transition: .3s ease-in-out;
}
input#menu:not(:checked) + label {
	transition: .3s ease-in-out;
}
#menu:checked ~ .menu-content {
	height: auto;
	opacity: 1;
	pointer-events: all;
}
.menu-content {
	height: 0;
	opacity: 0;
	pointer-events: none;
}
.menu-content p {
	font-weight: 500;
	font-size: 1.5em;
}
.main-menu ul {
	list-style-type: none;
	padding-right: .5em;
}
.main-menu li {
	display: flex;
	align-items: center;
	background-color: #DDD;
	width: auto;
	padding: .2em 1em;
	margin: -.22em;
	border: solid;
	border-width: .22em;
	white-space: nowrap;
}

/* Info */
/* Button Div */
.button-box{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;

	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 90vw;
}
.button-box input{
	display: none;
}
/* Buttons */
.button-div {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	max-height: 2em;
	max-width: 40vw;
	margin: 10px;

	border: solid;
	border-width: .22em;
	text-align: center;
}
.button-div label {
	width: inherit;

	transition: .5s ease-in-out;
}
.button-div p {
	white-space: nowrap;
	font-weight: 500;
}

/* Button Toggles */
.button-text {
	position: absolute;
	left: 50%;
	top: 120%;
	transform: translateX(-50%);
	color: #000;
	opacity: 0;
	height: auto;
	width: 80vw;
	text-align: justify;
	pointer-events: none;

	transition: .3s ease-in-out;
}
.button-text p {
	white-space: normal;
	font-weight: 300;
	font-size: 1.2em;
}
input#priv:checked ~ #priv-text {
	opacity: 1;

	transition: .8s ease-in-out;
}
input#priv:checked ~ #priv-but {
	border-color: #DDD;

	transition: .3s ease-in-out;
}
input#acc:checked ~ #acc-text {
	opacity: 1;

	transition: .8s ease-in-out;
}
input#acc:checked ~ #acc-but {
	border-color: #DDD;

	transition: .3s ease-in-out;
}
input#leg:checked ~ #leg-text {
	opacity: 1;

	transition: .8s ease-in-out;
}
input#leg:checked ~ #leg-but {
	border-color: #DDD;

	transition: .3s ease-in-out;
}

/* Galleries */
.carousel-cell {
	width: 100%; /* full width */
	height: 80vh; /* height of carousel */
	margin-right: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
  }
.carousel-cell img {
	max-height: 80%;
	width: auto;
	border: solid;
	border-width: .22em;
	padding: .5em;
}
.carousel-cell p {
	text-align: center;
	margin-top: 1em;
}
.photo-gallery {
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	justify-content: center;
	align-items: flex-start;
	margin-top: 4em;
}
.gal-col {
	flex: 25%;
	max-width: 25vw;
	margin: 1.5em;
	display: flex;
	flex-direction: column;
}
.gal-col img {
	margin-top: .25em;
	box-shadow: 0 0 0px .22em #000;
}
.vintage-nav {
	display: flex;

	align-items: center;
	justify-content: space-evenly;
	flex-direction: row;
	max-width: 10vw;
	padding-bottom: 2em;
}
.vintage-nav a {
	font-weight: 500;
}
.site-section{
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 5em;
	text-align: center;
	overflow-y: scroll;
}
.site-section h1 {
	font-weight: 500;
	font-size: 1em;
}
iframe {
	height: 80vh;
	width: 80vw;
	border: solid;
	border-width: .22em;
	padding: .5em;
	align-self: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.hello{
	display: flex;
	max-width: 80vw;
}

.hello p {
	font-size: 36px;
	font-weight: 500;
	align-self: center;
}

/* Media Queries */

/* Mobile */
@media screen and (orientation:portrait)
and (max-device-width: 812px) {
	/* Info */
	.button-box {
		position: absolute;
		top: 50%;
		transform: translateY(-71%);
	}
	.button-div {
		height: 2em;
		max-width: 80vw;
		margin: 10px;
	}
	.button-text {
		top: 100%;
	}
	/* Galleries */
	.carousel-cell img {
		top: 30%;
		transform: translateY(-30%);
		max-height: 80%;
		max-width: 80vw;
	}
	.photo-gallery {
		flex-direction: column;
		max-width: 100vw;
		align-items: center;
	}
	.gal-col {
		max-width: 80%;
		margin: 0em;
	}
}
@media screen and (orientation:landscape)
    and (max-device-width: 812px) {
		.home-button {
			font-size: 1em;
		}
		.carousel-cell img {
			top: 10%;
			transform: translate(-50%, -10%);
			max-height: 80%;
			width: auto;
		}
}

/* Dark Mode */
@media (prefers-color-scheme: dark) {
	.home-button {
		background: #222222;
	}
	body {
		background-color: #222222;
		color: #F5F5F5;
	}
	a {
		color: #F5F5F5;
	}
	li {
		background-color: #222222 !important;
	}
	.cross {
		background-color: #F5F5F5;
	}
	.cross::after {
		background-color: #F5F5F5;
	}
	img {
		opacity: .75;
	}
	img:hover {
		opacity: 1;

		transition: .3s ease-in;
	}
	img:active {
		opacity: 1;
		
		transition: .3s ease-in;
	}
	iframe {
		opacity: .75;
	}
	iframe:hover {
		opacity: 1;

		transition: .3s ease-in;
	}
	input#priv:checked ~ #priv-label {
		border-color: #222222;
	
		transition: .3s ease-in-out;
	}
	input#acc:checked ~ #acc-text {
		opacity: 1;
		color: #F5F5F5;
	
		transition: .8s ease-in-out;
	}
	input#acc:checked ~ #acc-label {
		border-color: #222222;
	
		transition: .3s ease-in-out;
	}
	input#leg:checked ~ #leg-label {
		border-color: #222222;
	
		transition: .3s ease-in-out;
	}
	input#priv:checked ~ #priv-text {
		opacity: 1;
		color: #F5F5F5;
	
		transition: .8s ease-in-out;
	}
	input#leg:checked ~ #leg-text {
		opacity: 1;
		color: #F5F5F5;
	
		transition: .8s ease-in-out;
	}
	::-moz-selection {
		background-color: #F5F5F5;
		color: #000;
	}
	::selection {
		background-color: #F5F5F5;
		color: #000;
	}
	.gal-col img {
		box-shadow: 0 0 0px .22em #F5F5F5;
	}
}
@media (prefers-color-scheme: dark)
	and (max-device-width: 812px) {
		img {
			opacity: 1;
		}
	}